* {
    --primary-color: #4d4d4d;
    --secondary-color: #cccccc;
    --terciary-color: #e0e0e0;
    --text-color: #000000;

    margin: 0;
    padding: 0;
    color: var(--text-color);

}

body {
    background-color: var(--terciary-color);
}

#result {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.result-row {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 1rem;
}

.card {
    background-color: var(--secondary-color);
    border: var(--primary-color) solid 5px;
    border-radius: 10px;
    padding: 0.1rem 1rem;
    width: 20%;
}

.no-results {
    margin: 10px;
}

.logo {
    transition: color 0.3s ease;
}

.logo:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

main {
    margin-top: 10px;
}